body {
background-color:#f9f7fe;
  font-family: "Valley Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:smaller;
}


main #paragraph {
margin-bottom:5px;
  color:rgba(0,0,0,0.6);
}

main #heading{
margin-bottom: 0px;
font-size: 35px;

}

footer {
  margin: 10px 0 45px 0;
  font-size: 12px;
  color:rgba(0,0,0,0.6);
}

footer a {
  color:#885df1;
}

.container {
  background:white;
  max-width: 600px;
  width: 400px; 
  height: 500px;
  display:block;
  margin: 30px auto;
  border: solid 1px white;
  border-radius:10px;
  padding:20px;
    
}
.container-info {
  display: flex;
  flex-direction: row; 
  height: 50px;
}

#temp {
  font-size:75px;
  font-weight: bolder;
  position:absolute;
  top:260px;
  left: 560px;
}

#icon {
 margin:0 0 30px 10px;
}

#degree {
  position:absolute;
  top:270px;
  right: 300px;
}

.table {
  display: flex;
  flex-direction:row;
  align-items:left;  
  width:100px;
}

#condition {
  text-align:left;
  margin:30px 0 10px 15px;
  color:rgba(0,0,0,0.6); 
}

#humidity {
  margin:0 10px 0 0;
  color:rgba(0,0,0,0.6);
  
}

#wind {
    color:rgba(0,0,0,0.6);
}

#search-city {
  padding: 15px 15px;
  margin: 20px 10px 0 0;
  width: 300px;
  border:none ;
  border-radius: 5px;
  background:#f9f7fe;
}

#search-button {
  padding: 13px 17px;
  width:80px;
  border-radius: 10px;
  border: 0px;
  background: #885df1;
  color:white;
  font-size:14px;
}

.weather-forecast {
  margin-top: 25px;
}

.weather-forecast-day {
  display:flex;
  justify-content:space-between;
margin-bottom:40px;

}

.weather-forecast-date {
  text-align:center;
  color:rgba(0,0,0,0.6);  
}

.weather-forecast-temperature{
  display: flex;
  justify-content:center;
  text-align:center;
  color: #f65282;
}

.weather-forecast-temp-min {
   padding:0 10px 0 0;
   font-weight:bold;
}